<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cosmoplayer</title>
    <link rel="stylesheet" href="static/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container-xl">
        <div class="row blue-row">
            <div class="col" style="text-align: right;">Web</div>
            <div class="col-3"><a href="/"><img src="static/logo.png" height="200px"></a></div>
            <div class="col" style="text-align: left;">Player</div>
        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col-4">
                <div class="tnz-file-tree">
                    {{ call file_tree.html with files }}
                </div>
            </div>
            <div class="vr" style="padding: 0;"></div>
            <div class="col" style="padding: 0px;">
                {{ if video_path }}
                <video width="100%" autoplay controls>
                    <source src="{video_path}">
                    Your browser does not support the video tag.
                </video>
                {{ endif }}
            </div>
        </div>
        <div class="row blue-row-bottom">
            <div class="col">Made for fun by Alexander "cosm" Smoktal</div>
        </div>
    </div>
</body>

</html>