{{ call header.html with no_value }}
<div class="row" style="margin: 5px 0 5px 0;">
    <div class="col-4">
        <div class="tnz-file-tree">
            {{ call file_tree.html with files }}
        </div>
    </div>
    <div class="vr" style="padding: 0;"></div>
    <div class="col" style="padding: 0px;">
        {{ if video_path }}
        <video id="video-player" playsinline width="100%" autoplay controls>
            <source src="{video_path}">
            Your browser does not support HTML5 video.
        </video>
        {{ endif }}
    </div>
</div>
{{ call footer.html with no_value }}